# Normalize EOL for text files
* text=auto eol=lf

# By default exclude everything from git-archive
* export-ignore

# Re-include the addons folder and the desired addon
/addons/ -export-ignore
/addons/awesome_custom_cursor/ -export-ignore
/addons/awesome_custom_cursor/** -export-ignore